version: '3.8'

services:
  backend:
    build: ./backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      - DB_URL=mongodb+srv://artemkrohinow:q0v5579YZNR2H93R@cluster11.sxdpffk.mongodb.net/?retryWrites=true&w=majority&appName=Cluster11
      - CLIENT_URL=http://localhost:3000

  mongo:
    image: mongo:latest
    restart: always
    ports:
      - "27017:27017"

  frontend:
    build: ./frontend
    restart: always
    ports:
      - "3000:3000"
    stdin_open: true
    environment:
      - REACT_APP_API_URL=http://localhost:5000/api
      - WATCHPACK_POLLING=true
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./frontend:/app
      - /app/node_modules