
.back-button-mobile {
  display: none;
}
.chat-area {
  flex: 1;
  height: 100%;
  min-width:0;
  display:flex;
  flex-direction: column;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border: 1px;
}
.chat-header {
  position: absolute;
  width: 100%;
  padding: 15px 15px;
  margin: 0px 0px;
  background: rgba(241, 241, 241, 0);

}

.message-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px;
  background: #00000000;

}
.message-recived {
   display: flex;
  flex-direction: row;
   align-self: flex-start;
padding:0.7% ;
margin: 10px 20px;
background: rgba(255, 255, 255, 0.7);  
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8), 0 2px 5px rgba(0,0,0,0.05);
  border-color: #fff;
  font-weight: bold;
border: 1px;
border-radius:10px;
  
 }
.message-sent {
  display: flex;
  flex-direction: row;
   align-self: flex-end;
padding:0.7% ;
margin: 10px 20px;
border: 1px;
border-radius:10px;
  background: rgba(255, 255, 255, 0.7);  
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8), 0 2px 5px rgba(0,0,0,0.05);
  border-color: #fff;
  font-weight: bold;
}


.message-form {
    flex-shrink: 0;
  display: flex;
background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border-color:#00000000;
border: 1px;
border-radius:10px;
 padding-bottom: env(safe-area-inset-bottom, 10px);
padding: 10px 15px;
gap: 10px;
width: 100%;
}
.message-input {
flex:1;
display: flex;
background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border-color:#00000000;
border: 1px;
border-radius:10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.400);
padding: 10px 15px;
gap: 10px;
width: 100%;
margin-bottom: 2px;
background: transparent;
border-radius: 6px;
text-align: left;
font-size: 18px;
color: #333;
border-color: rgb(255, 255, 255);
border: solid transparent;
}
.send-button {
background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.400);
gap: 10px;
 width: fit-content;
margin-bottom: 2px;
background: transparent;
border-radius: 6px;
cursor: pointer;
text-align: left;
font-size: 14px;
color: #333;
margin-left: 5px;
border-color: rgb(255, 255, 255);
border: solid transparent;
}
.send-button:hover{
border: solid transparent;
border-radius:6px;
background: rgb(255, 255, 255);
border-color:#00000000;
}
.send-icon{
  width: 3vh;
  height: 3vh;
}
.chat-name{
  font-size: 1.2rem;
  font-weight: bold;
}
@media (max-width: 768px){
.hidden-mobile{
  display:none !important;
}
.chat-area {
  width:100% !important;

}
.back-button-mobile {
  display: flex !important;
    cursor: pointer; 
    align-items: center;
    transition: opacity 0.2s;
    width: fit-content;
    padding: 0px;
    border: none;
    background: none;
}
.back-icon-mobile {
    width: 64px;
    height: 64px;
}
}
.notChoiceUser{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #555;
  height: 100%;
}

.iconDelete{
 width: 3vh;
  height: 3vh;
}
.message-delete{
   padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}