*{ box-sizing: border-box; }
html, body, #root {
  margin: 0;
  padding: 0; 
  height: 100%;
  
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
           background-color: #e0e5ec;
           background-image: 
    radial-gradient(at 0% 0%, #2196f3(8, 185, 255) 0, transparent 100%), 
    radial-gradient(at 100% 0%, hsl(0, 0%, 100%) 0, transparent 100%);
  overflow: hidden;
        }
.app-container {
  display: flex;
  flex-direction:column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.main-layout {
  flex:1; 
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.app-header {
  display: flex;
  flex-direction: row;
  width:100%;
  height:10%;
  align-items: center;
}
.App-logo {
  width:auto;
  height:40px;
  padding: 0%;
  
}

.sidebar {
  width: 15%;
  height:100%;
  flex-shrink: 0;
  display:flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.sidebar-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height:100%;
}
.sidebar-header h2 {
  padding: 0px 15px;
}

.user-list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  flex: 1;
  border: 1px;
border-radius:10px;
}

.user-button {
  display: flex;
  padding: 12px 15px;
  gap: 10px;
    width: calc(100% - 20px); 
  margin: 0 10px 8px 10px;
  margin-bottom: 8px;
  color: #222; 
  cursor: pointer;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background: rgb(255, 255, 255); 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
  font-weight: bold;    
  transition: all 0.1s ease;
}

.user-button:hover {
  background: rgba(255, 255, 255, 0.75); 
  transform: translateY(-2px); 
}


.user-button.selected,
.user-button:active {
  background: rgba(255, 255, 255, 0.35); 
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1); 
  transform: translateY(2px); 
  border-color: transparent;
}

.logout-button {
display: flex;
background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.400);
padding: 10px 15px;
gap: 10px;
width: auto;
margin: 10px;
margin-bottom: 12px;
background: transparent;
border-radius: 6px;
cursor: pointer;
font-size: 14px;
color: #333;
border-color: rgb(255, 255, 255);
border: solid transparent;
}
.logout-button:hover{
background: rgb(255, 255, 255);
border-color:#00000000;
}
.chat-area {
  flex: 1;
  height: 100%;
  min-width:0;
  display:flex;
  flex-direction: column;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border: 1px;
}
.chat-header {
  display: flex;
  padding: 0px 15px;
}

.message-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px;
  background: #00000000;

}
.message-recived {
   align-self: flex-start;
padding:0.7% ;
margin: 10px 20px;
background: rgba(255, 255, 255, 0.7);  
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8), 0 2px 5px rgba(0,0,0,0.05);
  border-color: #fff;
  font-weight: bold;
border: 1px;
border-radius:10px;
  
 }
.message-sent {
   align-self: flex-end;
padding:0.7% ;
margin: 10px 20px;
border: 1px;
border-radius:10px;
  background: rgba(255, 255, 255, 0.7);  
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8), 0 2px 5px rgba(0,0,0,0.05);
  border-color: #fff;
  font-weight: bold;
}


.message-form {
  display: flex;
background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border-color:#00000000;
border: 1px;
border-radius:10px;
 
padding: 10px 15px;
gap: 10px;
width: 100%;
}
.message-input {
flex:1;
display: flex;
background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border-color:#00000000;
border: 1px;
border-radius:10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.400);
padding: 10px 15px;
gap: 10px;
width: 100%;
margin-bottom: 2px;
background: transparent;
border-radius: 6px;
text-align: left;
font-size: 14px;
color: #333;
border-color: rgb(255, 255, 255);
border: solid transparent;
}
.send-button {
display: flex;
background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.400);
padding: 10px 15px;
gap: 10px;
width: 5%;
margin-bottom: 2px;
background: transparent;
border-radius: 6px;
cursor: pointer;
text-align: left;
font-size: 14px;
color: #333;
border-color: rgb(255, 255, 255);
border: solid transparent;
}
.send-button:hover{
border: solid transparent;
border-radius:6px;
background: rgb(255, 255, 255);
border-color:#00000000;
}
.auth-page {
  flex-direction:row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);}
.auth-form h1 {
   align-self: center;
}
.auth-form {
 display: flex;
  flex-direction:column;
   align-self: center;
    justify-content: center;
}
.auth-form input {
   align-self: center;
display: flex;
background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
padding: 10px 15px;
gap: 10px;
width: 20%;
margin-bottom: 2px;
background: transparent;
border-radius: 6px;
cursor: pointer;
text-align: left;
font-weight: 600;
font-size:14px;
color: #000000;
opacity: 1;
border-color: rgb(255, 255, 255);
border: solid transparent;
box-shadow: 0 1px 5px white;
}
.auth-form button {
   align-self: center;
display: flex;
background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
padding: 10px 15px;
gap: 10px;
width: 20%;
margin-bottom: 2px;
background: transparent;
border-radius: 6px;
cursor: pointer;
text-align: center;
color: #000000;
border-color: rgb(255, 255, 255);
border: solid transparent;
box-shadow: 0 1px 5px white;
font-weight: 600;
font-size:14px;
}
.auth-form button:hover{
border: solid transparent;
border-radius:6px;
background: #ffffff21;
border-color:#00000000;
transform: translateY(-0.1px);
box-shadow: 0 5px 30px white;
}
.alternative-button{
  flex-direction:row;
   align-self: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    color:rgb(0, 0, 0)
}

.avatar {
  justify-content: center;
  align-items: center;
  margin: 2px;
}
.avatar-container {
  display: flex;
  flex:1;
  justify-content: center;
  align-items: center;
  margin: 2px;
  display: flex;
}
.profile-data {
  flex-direction: column;
  position: relative;
   background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border: 1px;
border-radius:10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}